body {
	margin: 0px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 12px; 
	background-color: #f1f1f1;
}


#client-new {
	/*margin: auto;*/
	width: 300px;
	text-align: center;
}

#client-new-fields-personal {
	font-size: 12px;
}

#client-new-fields-passport {
	font-size: 12px;
}

#client-new-fields-contact {
	font-size: 12px;
}

.div-form-button {
	height: 40px;
	width: 80px;
	margin: auto;
	margin-top: 10px;
	background-color: #5269b1;
	color: #fff;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

