body {
	margin: 0px;
	font-family: roboto, tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 14px; 
	background-color: #f1f1f1;
	z-index: 100;
}

.div-form-button {
	height: 40px;
/*	width: 80px;*/
	margin: auto;
	margin-top: 10px;
	background-color: #7593E0;
	color: #fff;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
/*    display: inline-block;*/
    padding-left: 10px;
    padding-right: 10px;
}

#opacity{
	height: 100%;
	width: 100%;
	background-color: #fff;
	display: none;
	position: absolute;
	opacity: 0.5;
	z-index: 500;
}


/* HEADER */

#header {
	height: 80px;
	width: 100%;
	min-width: 930px;
	background-color: #f1f1f1;
}
/* #688bb0; */
#header-main {
	height: 100%;
	width: 100%;
	background-color: #435ea4;
	margin: auto;
}

#header-main H1 {
	color: #fff;
	margin: 0px;
	line-height: 70px;
	margin-left: 20px;
}


/* table */

.tr-hover:hover {
	background-color: #A7BCF2;
	cursor: pointer;
}

.table-pattern {
	border: 1px solid #d9e0e7;
	border-spacing: 0px;
	width: 100%;
	font-size: 11px
}

.table-pattern-header {
	background-color: #7593E0;
}

.table-pattern td {
	border: 1px solid #d9e0e7;
	border-spacing: 0px;
	padding: 10px 5px 10px 5px;
	text-align: center;
}

